* {
  margin: 0;
  padding: 0;
}

body {
  background: #cdd1eb;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

header {
  width: 100%;
}

main {
  margin-bottom: 1.25rem;
}

.content_main h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
  margin-bottom: 4rem;
}

.content {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 3rem;
  margin-right: 3rem;
  gap: 3rem;
  font-size: 1.3rem;
}

.content_main img {
  border-radius: 20px;
  width: 40rem;
  height: 25rem;
  max-width: 100%;
}

p {
  max-width: 18.75rem;
}

.content img {
  border-radius: 20px;
  width: 40rem;
  height: 25rem;
}

.conteudo_secundario {
  margin-top: 3rem;
  flex-direction: row-reverse;
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 3rem;
  margin-right: 3rem;
  gap: 3rem;
  font-size: 1.3rem;
}

footer {
  background: #23232e;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-block: 1.875rem;
  margin-top: auto;
  width: 100%;
}

@media (max-width: 999px) {
  .content {
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 1.3rem;
    margin-left: 3rem;
    margin-right: 3rem;
    padding: 2rem;
  }

  p {
    max-width: 31.25rem;
  }

  .conteudo_secundario {
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 1.3rem;
    margin-left: 3rem;
    margin-right: 3rem;
    padding: 2rem;
  } 

  img {
    max-width: 100%;
  }
}